
#auth-info {
    color: #ffffff;
    background-color: #000000;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    text-align: right;
    padding-top: 0.2em;
    padding-right: 0.8em;
    padding-bottom: 0.2em;
    padding-left: 0.8em;
}

#header img {
    float: left;
    margin-top: 10px;
    margin-right: 30px;
}

#header h2 {
    float: left;
}

.input-group{
    padding:8px;
}

#upload-form {
    margin-top: 22px;
}

#file-selector {
    padding: 0;
}


#lbSuccess{
    display: flexbox;
    color: green;
    margin-bottom:10px;
}

#lbError{
    display: flexbox;
    color: red;
    margin-bottom:10px;
}

#loading {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#downloadauto{
    margin-top: 8px;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #0000ff;
}

#downloadauto2{
    margin-top: 4px;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    color: #0000ff;
}

.radiogroup{
    float:left
}

#btntest2{
    color:aqua
}

.previewtable{
    height:610px;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

th, td {
    border: 1px solid lightgray;
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

.btn-test-2{
    height: 34px;
    align-items: center;
    text-align: center;
}

.btn-test-1{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}