<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Geo-Coding Tool | DATA.GOV.HK</title>
  
  <link rel="stylesheet" type="text/css" href="{{ path_prefix }}/tools/geo-coding-tool/static/css/main.css" />
  <link rel="shortcut icon" type="image/png" href="{{ path_prefix }}/favicon.png"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">// <![CDATA[
        function showPicture() {
          var sourceOfPicture = "/tools/geo-coding-tool/static/img/loading2.gif";
          var img = document.getElementById('loading')
          img.src = sourceOfPicture.replace('225x225', '225x225');
          img.style.display = "block";
          document.getElementById('msgfailed').innerText = ''
          $("#table-responsive").remove();
          var autodownload = document.getElementById('downloadauto')
          var autodownload2 = document.getElementById('downloadauto2')
          autodownload.style.display='none'
          autodownload2.style.display='none'
          if (document.querySelector("input[name=radioa]:checked").value=='1'){
            document.getElementById('downloadauto').innerText = ''
            document.getElementById('downloadauto2').innerText = ''
            $('#loading').delay(5000).fadeOut('fast');
          }
        } 
// ]]></script>
<script>
function disableBtn() {
    document.getElementById("btntest").disabled = true;
}
</script>
<script type="text/javascript">// <![CDATA[
  function validate(el) {
    var maxfilesize = 1024 * 1024 * 2,  // 2 Mb
        filesize    = el.files[0].size,
        pfilesize   = parseFloat((filesize/(1024*1024))).toPrecision(3)
        filename    = el.files[0].name,
        warningel   = document.getElementById('lbError');
        successel   = document.getElementById('lbSuccess');


    if ( filesize > maxfilesize )
    {
      warningel.innerHTML = "File too large(MB): " + '<b>' +pfilesize+ ' MB' + '</b>'  + '<br>' + "Maximum size(MB): " + '<b>'+ maxfilesize/(1024*1024) + ' MB' + '</b>';
      successel.innerHTML = '';
      document.getElementById('btntest').disabled = true;
      warningel.style.display = "block";
      successel.style.display = "none";
      return false;
    }
    else
    {
      warningel.innerHTML = '';
      successel.innerHTML = 'Upload File Name: ' +  '<b>' + filename +  '</b>' +'<br>' +'Upload File Size:' +  '<b>'  + pfilesize+ ' MB' +  '</b>' ;
      document.getElementById('btntest').disabled = false;
      successel.style.display = "block";
      warningel.style.display = "none";
      return true;
    }   
  }
// ]]></script>
</head>

<body onload=disableBtn()>
<div id="auth-info">
  {{ auth_info|e }}
</div>
<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-6" id="header">
        <img src="{{ path_prefix }}/tools/geo-coding-tool/static/img/logo_placeholder3.png">
        <h2>Geo-Coding Tool</h2>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-6">
        <form enctype="multipart/form-data" method="post" class="bs-component" id="upload-form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">File:</span>
              <input type="file" name="data_file" class="form-control" id="file-selector" onchange='validate(this)'>
            </div>
          </div>
          <div id='lbError' style='display: none;'></div>
          <div id='lbSuccess' style='display: none;'></div>
          <form>
            <div class="form-group">
              <div class="input-group">
                <label for="fname">Address Column Name:</label>
                <input type="text" id="addresscol" name="addresscol" maxlength='100' placeholder='(e.g. Address Name)'>
              </div>
              <div id='radiosubmitbut'>
                <div class="input-group" id='radiogroup'>
                  <label class="col-lg-2 control-label">Type:</label>
                  <div class="col-lg-10">
                    <input type="radio" id="radio1" name="radioa" value="1" checked='checked'>
                    <label for="radio1">Download Zip Folder</label><br>
                    <input type="radio" id="radio2" name="radioa" value="2">
                    <label for="radio2">Preview Edited File</label><br>
                    <input type="radio" id="radio3" name="radioa" value="3">
                    <label for="radio3">Preview Log File</label>
                  </div>
                </div>
                <div id='btn-test-1'>
                  <p style='visibility:hidden'>Submit</p>
                  <button class="btn btn-primary btn-test-2" id='btntest' type="submit" form="upload-form", value='submit',.disabled=false, onclick="showPicture()">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
<img style="display:none;" id="loading" />
<div id='downloadauto' style='display:none'>File is uploaded and your Download will begin automatically...</div>
<div id='downloadauto2' style='display:none'>If your download haven't begin after 30 seconds, please Submit again.</div>

{% if datacsvcsv != "" %}
  <div class='previewtable'>
    <div id='table-responsive'>
      <table>
        <thead>
          <tr>
            {%for i in range(0, datacsvcsv[0] |length)%}
              <th style="padding: 5px">{{ datacsvcsv[0][i] }}</th>
            {%endfor%}
          </tr>
        </thead>
        <tbody>
          {%for r in range(1,  datacsvcsv|length)%}
            <tr>
              {%for i in range(0,  datacsvcsv[0] |length)%}
                <td style="padding: 5px">{{ datacsvcsv[r][i] }}</td>
              {%endfor%}
            </tr>
          {%endfor%}
        </tbody> 
      </table>
    </div>
  </div>
{% endif %}

{% if message != "" %}
  <p>
    <div class='msg-success'>
      <div class='msg-failed' id='msgfailed'>
        {{message_failed}}
      </div>
    </div>
  </p>
{%endif%}


<!--
  <p>
    <div class='msg-success'>
      {{message_file}}
    </div>
  </p>
  <p>
    <div class='msg-success'>
      {{message}}
    </div>
  </p>
  <p>
    <div class='msg-success'>
      {{message_place}}
    </div>
  </p>
  <p>
    <div class='msg-success'>
      {{filehexprint}}
    </div>
  </p> 


  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=flashes>
      {% for category_color, message in messages %}
        <p class="error_text" style="color:{{ category_color }};width:500px;">{{ message }}</p>
      {% endfor %}
      </div>
  {% endif %}
{% endwith %}-->
<!--<p>
  {% if csvdownload != "" %}
    <div class='btn-csv-download'>
      <a href="/result/downloadcsv"><button class='btn csv-download'>Download CSV</button></a>
      <a href="/result/downloadlog"><button class='btn log-download'>Download Log File</button></a>
      <a href="{{ url_for('zip_download',hex=hex, file=file) }}">Download</a>
    </div>
  {% endif %}
</p>-->
</body>
</html>
